html {
    height: 100%;
}

body{
    margin: 0px;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.Essentiels{
    display: flex;
    flex-direction: column;
}

.Media{
    display: flex;
    flex-direction: column;
}

.Tableaux{
    display: flex;
    flex-direction: column;
}

.Tous{
    display: flex;
    flex-direction: column;
}

.leftpart{
    margin: 0px;
    width: 25%;
    text-align: center;
    border: 1px solid;
    overflow-y: scroll;
    height: 100%;
}

.rightpart{
    margin-top: 200px;
    margin-left: 100px;;
    width: 75%;
    border: 1px solid;
    }

.defbalise{
    margin: 0;
}

.Attributs{
    margin: 30px 0px ;
}

.html{
margin: 30px 0px; 
}

table{
    width: 100%;
    border-collapse: collapse;
}

table, th, td{
    border: 0.8px solid;
    border-color: rgb(205, 205, 205);
}

tr{
    height: 30px;
}

th{
    text-align: left;
    padding-left: 10px;
    font-weight: 400;
}

.row1{
    background-color: rgb(234, 234, 234);
}

