body{
    display: flex;
    flex-direction: row;
}

.Essentiels{
    display: flex;
    flex-direction: column;
}

.Media{
    display: flex;
    flex-direction: column;
}

.Tableaux{
    display: flex;
    flex-direction: column;
}

.Tous{
    display: flex;
    flex-direction: column;
}

.leftpart{
    margin: 10px;
    text-align: center;
    border: solid;
    background-color: lavender;
}

.rightpart{
    margin: 50px;
}

table, th, td{
    border: 1px solid;

}

.row1{
    background-color: silver;
    font-weight: bold;
}